<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generated-by" content="Markdown PRO, http://markdownpro.com"/>
<title></title>
</head>
<body>
<h1>Conditions d&#39;expédition</h1>

<h3>Quelles sont les conditions d&#39;expédition ?</h3>

<p><br/></p>
<p>Les commandes sont expédiées via Postexport avec un numéro de suivi. Une notification incluant le numéro de suivi vous est envoyée lorsque votre commande est expédiée.</p>
<table><thead>
<tr>
<th>Pays</th>
<th>Frais d&#39;expédition</th>
</tr>
</thead><tbody>
<tr>
<td>France</td>
<td>10.00 €</td>
</tr>
<tr>
<td>Union Européenne et Suisse</td>
<td>20.00 €</td>
</tr>
<tr>
<td>Autres pays</td>
<td>35.00 €</td>
</tr>
</tbody></table>

<h3>Emballage</h3>

<p><br/></p>

<p>Chaque Casascius coin est expédié dans un emballage numismatique classique scellé et cartonné avec une fenêtre transparente qui protégera la pièce des traces de doigts, des rayures et de l'humidité. Nos Casascius Coins ne sont jamais manipulés sans gants et sont conservés dans une enveloppe scellée jusqu'à l'expédition afin d'éviter toute trace de doigts ou d'humidité.</p>

<p><img src="/images/coin-regular-package.jpg" /></p>


<h3>Qu&#39;en est-il de la TVA ?</h3>

<p><br/></p>

<p>La TVA doit être déclarée par l'acheteur à la revente de la commodité numérique selon l'article 283.2 quarter du CGI.
Les commerçants imposés sur la marge forfaitaire ou réelle ne sont pas autorisés à ressortir la TVA sur les factures (Art. 297-A et 297-E du CGI.
Dans le doute, consultez votre comptable.</p>

<hr>

<p>&copy; 2011-2013 Pierre Noizat. Tous droits réservés.</p>

</body>
</html>