<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generated-by" content="Markdown PRO, http://markdownpro.com"/>
<title></title>
</head>
<body>
<h1>Shipping and Handling</h1>

<h3>What are the shipping costs?</h3>

<p><br/></p>
<p>Packages are sent via Postexport with a tracking number. You receive a notification including the tracking number when your order is shipped </p>
<table><thead>
<tr>
<th>Country</th>
<th>Shipping Costs</th>
</tr>
</thead><tbody>
<tr>
<td>France</td>
<!--<td>0.10 ฿</td>-->
<td>10.00 €</td>
</tr>
<tr>
<td>European Union and Switzerland</td>
<td>20.00 €</td>
</tr>
<tr>
<td>Other countries</td>
<td>35.00 €</td>
</tr>
</tbody></table>

<h3>What about packaging?</h3>

<p><br/></p>

<p>Our packaging for a Casascius Coin is a sealed, sturdy paper coin holder that will keep the coin from humidity, scratches and finger marks. Our coins are never touched by bare fingers and are kept in a sealed pouch at all times before shipping to prevent any humidity or finger marks.</p>

<p><img src="/images/coin-regular-package.jpg" /></p>


<h3>What are the sales taxes?</h3>

<p><br/></p>

<p>Value added taxes must be declared by the buyer when selling digital commodities like bitcoins (Art. 283.2 quarter of the French Tax Code).
This site is not subject to VAT when selling bitcoins according to article 15 of the French Finance Law of 1999 and articles 297 A-1 and 297-E of the French Tax Code.
Buyers must check applicable local taxes before selling their bitcoins.</p>

<hr>

<p>&copy; 2011-2013 Pierre Noizat. All rights Reserved.</p>

</body>
</html>